<html xmlns:f="http://xsd.helhum.io/ns/typo3/cms-fluid/master/ViewHelpers">
<li class="flex mt-30 news-item">
    <div class="flex-self-center mr-15 text-center news-item-date">
        <div class="news-item-day">{newsItem.data.lastUpdated -> f:format.date(format:'d')}</div>
        <div class="news-item-month">{newsItem.data.lastUpdated -> f:format.date(format:'M') -> f:format.case()}</div>
        <div>{newsItem.data.lastUpdated -> f:format.date(format:'Y')}</div>
    </div>
    <div class="news-item-content">
        <h3>
            <f:link.page pageUid="{newsItem.data.uid}">
                {newsItem.data.title}
            </f:link.page>
        </h3>
        <f:if condition="{newsItem.images -> f:count()} > 0">
            <div class="image">
                <f:image src="{newsItem.images.0.uid}" treatIdAsReference="1" maxWidth="200" />
            </div>
        </f:if>
        <p>
            {newsItem.data.abstract -> f:format.nl2br()}<br>
            <f:link.page class="news-item-detail-link" pageUid="{newsItem.data.uid}">
                <f:translate key="LLL:EXT:just_news/Resources/Private/Language/locallang.xlf:read_more" />&nbsp;
                <i class="fa fa-arrow-right"></i>
            </f:link.page>
        </p>
    </div>
</li>
</html>
