<header id="header">
    <div class="container main-menu">
        <div class="row align-items-center justify-content-end d-flex">
            <div id="logo">
                <a href="/">
                    <f:image src="EXT:weimaranervomhimmelreich/Resources/Public/Images/logo_sw.svg" class="logo-image" />
                </a>
            </div>
            <nav id="nav-menu-container">
                <ul class="nav-menu">
                    <f:for each="{mainnavigation}" as="mainnavigationItem">
                        <f:render partial="MenuItem" arguments="{item: mainnavigationItem}" />
                    </f:for>
                </ul>
            </nav>
        </div>
    </div>
</header>

<f:render section="Main" />

<footer class="footer-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-12 col-sm-12">
                <div class="single-footer-widget">
                    <f:image src="EXT:weimaranervomhimmelreich/Resources/Public/Images/logo.svg" class="logo-image" />
                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 flex-self-center flex">
                <div class="single-footer-widget">
                    <h4>{f:translate(key: 'LLL:EXT:weimaranervomhimmelreich/Resources/Private/Language/locallang.xlf:footer.contact_header')}</h4>
                    <p>
                        Robert & Philip Glorian<br>
                        Ellwangerstraße 73<br>
                        73441 Bopfingen-Oberdorf<br>
                        <a href="mailto:info@weimaraner-vom-himmelreich.de">info@weimaraner-vom-himmelreich.de</a>
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 social-widget">
                <div class="single-footer-widget">
                    <h4>{f:translate(key: 'LLL:EXT:weimaranervomhimmelreich/Resources/Private/Language/locallang.xlf:footer.nav_header')}</h4>
                    <div class="d-flex align-items-center">
                        <ul>
                            <f:for each="{footernavigation}" as="footerNavigationItem">
                                <f:render partial="FooterMenuItem" arguments="{item: footerNavigationItem}" />
                            </f:for>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-second-line">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p class="footer-text">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>.
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
