<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:section name="Main">

    <f:if condition="{data.layout} == 1">
        <f:then>
            <f:render partial="Media/NewGallery" arguments="{_all}" />
        </f:then>
        <f:else>
            <div class="ce-image ce-{gallery.position.horizontal} ce-{gallery.position.vertical}">
                <f:render partial="Media/GalleryOnly" arguments="{_all}" />
            </div>
        </f:else>
    </f:if>

</f:section>
</html>
