<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:section name="Main">
    <f:if condition="{data.bodytext}">
        <div class="col-md-12">
            <f:format.html>{data.bodytext}</f:format.html>
        </div>
    </f:if>
</f:section>
</html>
