<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:section name="Header">

	<f:if condition="{gallery.position.noWrap} != 1">
		<f:render partial="Header/All" arguments="{_all}" />
	</f:if>

</f:section>
<f:section name="Main">
    <f:variable name="isTextpic" value="1" />
    <f:if condition="{gallery.position.vertical} != 'below'">
        <f:render partial="Media/Gallery" arguments="{_all}" />
    </f:if>

    <f:if condition="{data.bodytext}">
        <f:then>
            <div class="col-md-9 ce-bodytext">
                <f:if condition="{gallery.position.noWrap}">
                    <f:render partial="Header/All" arguments="{_all}" />
                </f:if>
                <f:format.html>{data.bodytext}</f:format.html>
            </div>
        </f:then>
        <f:else>
            <f:if condition="{gallery.position.noWrap}">
                <f:if condition="{data.header}">
                    <div class="col-md-9 ce-bodytext">
                        <f:render partial="Header/All" arguments="{_all}" />
                    </div>
                </f:if>
            </f:if>
        </f:else>
    </f:if>

    <f:if condition="{gallery.position.vertical} == 'below'">
        <f:render partial="Media/Gallery" arguments="{_all}" />
    </f:if>

</f:section>
</html>
