.news-list {
  li:first-child { margin-top: 0; }
}

.news-item {
  &-date {
    color: $secondary-color;
    padding-top: 5px;
  }
  &-day {
    font-size: 2em;
    font-weight: 700;
  }
  &-month {
    font-size: 1.25em;
  }
  &-content {
    p { margin-bottom: 0; }
  }
  &-detail-link {
    color: $secondary-color;
  }
}


.homepage {
  .widget-wrap {
    padding: 20px;
    h2 {
      font-size: 24px;
    }
    h3 {
      font-size: 18px;
    }
    h4 {
      font-size: 13px;
      font-weight: 400;
    }
  }
}
