<html xmlns:f="http://xsd.helhum.io/ns/typo3/cms-fluid/master/ViewHelpers">
<div id="c{data.uid}">
    <!--TYPO3SEARCH_end-->
	<f:render partial="Header/All" arguments="{_all}" />
	<f:if condition="{news -> f:count()} > 0">
        <f:if condition="{data.layout} == 1">
            <f:then>
                <f:for each="{news}" as="newsItem" iteration="newsIterator">
                    <f:render partial="StartpageNewsItem" arguments="{_all}" />
                </f:for>
            </f:then>
            <f:else>
                <ol class="news-list">
                    <f:for each="{news}" as="newsItem">
                        <f:render partial="NewsItem" arguments="{_all}" />
                    </f:for>
                </ol>
            </f:else>
        </f:if>
	</f:if>
    <!--TYPO3SEARCH_start-->
</div>
</html>
