.new-gallery {
  display: -ms-grid;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-rows: 250px 150px;
  grid-auto-flow: dense;
  &__item {
    @media (min-width: 480px) {
      &:first-child { grid-area: 1 / 1 / span 2 / span 2; }
      &:nth-child(3n) { grid-column: span 2; }
    }
  }
  &__image {
    width: 100%;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      font-family: 'object-fit: cover;';
    }
  }
}
