.ce-table {
  &-wurf-tabelle {
    width: 100%;
    /*padding-left: 40px;
    padding-top: 0px;
    padding-bottom: 20px;*/
    color: #000;
    thead th {
      padding: 10px;
      background-color: #6B6B6B;
      /*border: 1px solid #FFFFFF;*/
      text-align: center;
      color: #FFF;
      font-size: 17px;
      font-weight: bold;
    }
    tbody td {
      font-size: 15px;
      padding: 2px 4px;
      background-color: #C2C2C2;
      border: 1px solid #FFFFFF;
      line-height: 130%;
      text-align: left;
    }
  }
}
