.ce-gallery {
  &-left {
    .ce-bodytext > & {
      float: left;
      margin-right: 1em;
    }
  }
  &-center {
    .image { text-align: center; }
  }
  &-right {
    .ce-bodytext > & {
      float: right;
      margin-left: 1em;
    }
    .image { text-align: right; }
  }
}

@media (max-width: 673px) {
  .ce-gallery {
    &-left, &-right {
      .ce-bodytext > & {
        float: none;
      }
      .img-fluid {
        width: 100%;
      }
    }
    &-left {
      .ce-bodytext > & {
        margin-right: 0;
      }
    }
    &-right {
      .ce-bodytext > & {
        margin-left: 0;
      }
    }
  }
}
