/* =================================== */
/*  Homepage Styles
/* =================================== */

.section-gap {
    padding: 120px 0;
}


.alert-msg {
    color: #008000;
}


.p1-gradient-bg {
    background: -moz-linear-gradient(180deg, $primary-color 0%, $secondary-color 100%);
    background: -webkit-linear-gradient(180deg, $primary-color 0%, $secondary-color 100%);
    background: -ms-linear-gradient(180deg, $primary-color 0%, $secondary-color 100%);
    background: linear-gradient(180deg, $primary-color 0%, $secondary-color 100%);
}


.p1-gradient-color {
    background: -moz-linear-gradient(180deg, $primary-color 0%, $secondary-color 100%);
    background: -webkit-linear-gradient(180deg, $primary-color 0%, $secondary-color 100%);
    background: -ms-linear-gradient(180deg, $primary-color 0%, $secondary-color 100%);
    background: linear-gradient(180deg, $primary-color 0%, $secondary-color 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.primary-btn {
    background: $primary-color;
    line-height: 42px;
    padding-left: 30px;
    padding-right: 30px;
    border: none;
    color: $white;
    display: inline-block;
    font-weight: 500;
    position: relative;
    @include transition();
    cursor: pointer;
    position: relative;
    &:focus {
        outline: none;
    }
    span {
        color: $white;
        position: absolute;
        top: 50%;
        transform: translateY(-60%);
        right: 30px;
        @include transition();
    }
    &:hover {
        color: $white;
        span {
            color: $white;
            right: 20px;
        }
    }
    &.white {
        border: 1px solid $white;
        color: $white;
        span {
            color: $white;
        }
        &:hover {
            background: $white;
            color: $primary-color;
            span {
                color: $primary-color;
            }
        }
    }
}

.primary-btn.wh{
    background:$white;
    color:$black;
    text-transform: uppercase;
    &:hover{
        background:$black;
        color:$white;
    }
}


.primary-btn.squire {
    border-radius: 0px!important;
    border: 1px solid transparent;
    &:hover {
        border: 1px solid $white;
        background: transparent;
        color: $white;
    }
}

.overlay{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.section-title {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
    h1 {
        margin-bottom: 10px;
    }
}

/*-------- Start Banner Area ------------*/

.banner-area {
    background:$offwhite;
    margin-top: 112px;
    .fullscreen {
        height: 750px !important;
    }
    .image-section {
        max-height: calc(100vh - 112px);
        overflow: hidden;
    }
}

.banner-left{
    h6{
        text-transform:uppercase;
        font-weight:400;
        letter-spacing: 2px;
    }
    h1{
        margin:20px 0;
        font-size:60px;
        text-transform:uppercase;
        @media(max-width:991px){
            font-size:30px;
        }
    }
    .primary-btn{
        @extend .p1-gradient-bg;
        &:hover{
            box-shadow: 0px 20px 20px 0px rgba(132, 144, 255, 0.3);
        }
    }
    @media(max-width:767px){
        margin-top:100px;
    }
}

.banner-right{
    text-align:center;
    @media(max-width:991px){
        align-self:center!important;
    }
    @media(max-width:767px){
        width:70%;
        margin-left:auto;
        margin-right:auto;
        display:block;
    }
}

/*-------- End Banner Area ------------*/


/*-------- Start home-about Area ------------*/

.home-about-right{
    @media(max-width:767px){
        margin-top:30px;
    }
    h6{
        margin-bottom:30px;
        text-transform:uppercase;
        font-weight:400;
    }
    h1{
        margin-bottom:40px;
        @media(max-width:991px){
            font-size:20px;
        }
    }
    p{
        margin-bottom:30px;
        max-width:445px;
    }
    .primary-btn{
        @extend .p1-gradient-bg;
        &:hover{
            box-shadow: 0px 20px 20px 0px rgba(132, 144, 255, 0.3);
        }
    }
}

/*-------- End home-about Area ------------*/

/*--------- Start Services Area -------------*/


.single-services{
    text-align:center;
    margin-top:60px;
    .lnr{
        font-size:35px;
        color:$black;
        @include transition();
    }
    h4{
        margin-top:30px;
        margin-bottom:20px;
        @include transition();
    }
    p{
        max-width: 318px;
        margin-left:auto;
        margin-right:auto;
        display:block;
    }
    &:hover{
        h4{
            color:$primary-color;
        }
        .lnr{
            @extend .p1-gradient-color;
        }
    }
}

/*--------- End Services Area -------------*/


/*--------- Start Facts Area -------------*/

.facts-area{
    @extend .p1-gradient-bg;
}

.single-fact{
    text-align:center;
    h1,p{
        color:$white;
    }
    h1{
        font-weight:700;
    }
    @media(max-width:800px){
        margin-bottom:30px;
    }
}


/*--------- End Facts Area -------------*/


/*--------- Start Portfolio Area -------------*/
.portfolio-area {
    .primary-btn {
        color: $white;
        background-color: $primary-color;
        margin-left: auto;
        margin-right: auto;
    }
}

.portfolio-area .filters {
    text-align: center;
}

.portfolio-area .filters ul {
    padding: 0;
}

.portfolio-area .filters ul li {
    list-style: none;
    display: inline-block;
    padding: 18px 15px;
    cursor: pointer;
    position: relative;
    text-transform: uppercase;
    color: $black;
    font-size:12px;
    font-weight: 500;
    @media(max-width: 736px) {
        padding: 6px 6px;
    }
}

.portfolio-area .filters ul li:after {
    content: "";
    display: block;
    width: calc(0% - 60px);
    position: absolute;
    height: 2px;
    background: #333;
    transition: width 350ms ease-out;
}

.portfolio-area .filters ul li:hover:after {
    width: calc(100% - 60px);
    transition: width 350ms ease-out;
}

.portfolio-area .filters ul li.active {
    color: $primary-color;
}

.portfolio-area .filters-content {
    margin-top: 50px;
}

.portfolio-area .filters-content .show {
    opacity: 1;
    visibility: visible;
    transition: all 350ms;
}

.portfolio-area .filters-content .hide {
    opacity: 0;
    visibility: hidden;
    transition: all 350ms;
}

.portfolio-area .filters-content .item {
    text-align: center;
    cursor: pointer;
    margin-bottom: 30px;
}

.portfolio-area .filters-content .item img {
    border-radius: 10px;
}

.portfolio-area .filters-content  .p-inner {
    padding: 20px 0px;
    text-align:center;
}


.portfolio-area .filters-content .item .p-inner .cat {
    font-size: 13px;
}

.portfolio-area .filters-content .item img {
    width: 100%;
}


.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: 100%;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}


.single-portfolio:hover .middle {
  opacity: 1;
}

.text {
  color: white;
  font-size: 25px;
  padding: 16px 32px;
}

.single-portfolio{
    border-radius:5px;
    &:hover{
        .thumb{
            .overlay-bg{
                opacity:.85;
            }
        }
    }
}

.thumb{
    .overlay-bg{
        @extend .p1-gradient-bg;
        opacity:0;
        border-radius:5px;
        @include transition();
    }
}


/*--------- End Portfolio Area -------------*/

/*--------- start testimonial area  -------------*/

.testimonial-area{
    background-color:$offwhite;
    .owl-controls{
        position: absolute;
        left: 101%;
        top: 25%;
        @media(max-width: 1024px){
            position:relative;
            text-align: center;
            left:0;
            top:20px;
            .owl-prev,.owl-next{
                display: inline-block;
            }
        }
    }


    .lnr-arrow-up,.lnr-arrow-down{
        background-color: rgb(255, 255, 255);
        box-shadow: -14.142px 14.142px 20px 0px rgba(157, 157, 157, 0.2);
        padding: 14px;
        color: #000;
        font-weight: 500;
        border: 1px solid #f5f5f5;
        display:inline-flex;
        @include transition();
        &:hover{
            background:$primary-color;
            color:$white;
        }
    }

}


.single-testimonial{
    background-color:$white;
    padding: 25px 30px 12px 30px;
    @include transition();
    &:hover{
        cursor:pointer;
    }
    .thumb{
        margin-right:30px;
    }
    h4{
        @include transition();
        margin-bottom:5px;
    }
    &:hover{
         h4{
            color:$primary-color;
            cursor:pointer;
         }
    }
}

/*--------- end testimonial area  -------------*/



/*--------- Start price  Area -------------*/

.price-area{
    .single-price{
        @include transition();
        text-align:center;
        background-color:$offwhite;
        padding:40px 20px;
        .package-no{
            @include transition();
            font-weight: 300;
            margin-left: auto;
            margin-right: auto;
            width: 140px;
            height: 140px;
            background-color:rgba(#8490ff,0.10);
            border-radius:100px;
            align-items: center;
            display: grid;
            border:30px solid rgba(#8490ff, 0.10);
        }
        .top-part h4{
            margin-top:20px;
        }
        .package-list{
            padding-bottom:30px;
            padding-top:15px;
            ul li{
                padding:10px 0;
                border-top:1px solid #eee;
            }
            ul li:last-child{
                border-bottom: 1px solid #eee;
            }
        }
        .bottom-part{
                @include transition();

            .price-btn{
                @include transition();
                background-color:$white;
                color:$black;
                padding:10px 50px;
                font-weight:600;
                display:inline-block;
                display:none;
            }
        }

        &:hover{
            transform:scale(1.05);
            z-index:2;
            @extend .p1-gradient-bg;
            color:$white;
            cursor:pointer;
            h1,h4{
                color:$white;
            }
            .package-no{
                border-color: rgba(#ffffff,.21);
                background-color:rgba(#ffffff,.1);
            }
            .bottom-part{
                h1{
                    display:none;
                }
                .price-btn{
                    display:block;
                }
            }
        }

        @media(max-width:960px){
            margin-bottom:30px;
        }
        @media(max-width:736px){
            margin:10px;
        }
    }
}


/*--------- end price  Area -------------*/


/*-------- start recent-blog Area -------------*/

    .recent-blog-area{
        background:$offwhite;
        h1{
            text-align:center;
            margin-bottom:25px;
            font-weight:600;
            text-transform:capitalize
        }
        p{
            margin-bottom:45px;
            text-align:center;
        }
    }

    .single-recent-blog{
        .thumb{
            overflow: hidden;
            img{
                width:100%;
            }
        }

        h4{
            text-transform:uppercase;
            font-weight:600;
            margin-top:35px;
            @include transition();
        }
        a{
            color:#222;
        }
        .name{
            font-size:13px;
            font-weight:100;
        }
        p{
            text-align:left;
            margin-top:15px;
        }
        .bottom{
            padding:10px 0;
            border-bottom:1px solid #eee;
            span{
                margin-left:10px;
            }
        }
        @media(max-width:991px){
            .meta{
                margin-top:20px;
            }
        }
        @media(max-width:768px) {
            margin-bottom:30px;
        }
        @media(max-width:767px){
            .meta{
                margin-top:0px;
            }

        }

        .f-img{
            @include transition();
        }
        &:hover{
            cursor:pointer;
            h4{
                color:$primary-color;
            }
            .f-img{
                cursor:pointer;
                transform: scale(1.05);
            }
        }

    }


/*-------- end recent-blog Area -------------*/

/*--------- start brand Area -------------*/

.brands-area{
    padding:80px 0;
    @extend .p1-gradient-bg;
    .brand-wrap{
            .owl-carousel .owl-item img{
            width:auto!important;
        }
        .single-brand{
            text-align:center;
            @include filter(grayscale, 100%);
            opacity:.5;
            @include transition();
            &:hover{
                @include filter(grayscale, 0%);
                opacity:1;
            }
        }
    }

}

/*--------- end brand Area -------------*/


/*-------- Start Common Page Style   -------------*/

.link-nav {
    margin-top: 10px;
    margin-bottom: 0;
}

.about-banner {
    @extend .p1-gradient-bg;
}

.about-content {
    margin-top: 112px;
    padding: 120px 0;
    text-align: center;
    @media(max-width: 767px) {
        margin-top: 70px;
    }
    h1 {
        font-size: 48px;
        font-weight: 600;
    }
    a {
        color: $white;
        font-weight: 300;
        font-size: 14px;
    }
    .lnr {
        margin: 0 10px;
        font-weight: 600;
    }
}


/*-------- End Common Page Style   -------------*/


