/* =================================== */
/*  Pricing Page Styles
/* =================================== */

.accordion {
    .widget-wrap & {
        padding: 0 1rem;
    }
    > dt {
        margin-bottom: 10px;
        font-size: 14px;
        font-weight: 400;
    }
    > dt > a {
        display: block;
        position: relative;
        color: #222222;
        text-decoration: none;
        padding: 2px 30px;
        font-size: 16px;
        font-weight: 500;
        background: #fafcff;
        @media(max-width: 414px) {
            font-size: 12px;
        }
    }
    > dt > a:hover {
        text-decoration: none;
    }
    > dt > a.active {
        color: $primary-color;
        border-color: #ddd;
        cursor: default;
        border-bottom: 1px solid $primary-color;
        background: transparent;
    }

    > dt > a:after {
        content: "\f107";
        width: 15px;
        height: 15px;
        margin-top: -8px;
        position: absolute;
        top: 50%;
        left: 10px;
        font-family: 'FontAwesome';
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        font-size: 15px;
        line-height: 15px;
        text-align: center;
        color: $black;
        -webkit-font-smoothing: antialiased;
    }
    > dt > a.active:after,
    > dt > a.active:hover:after {
        content: "\f106";
        color: $primary-color;
    }
    > dt > a:hover:after {
        color: #444;
    }
    > dd {
        margin-bottom: 10px;
        padding: 10px;
        font-size: 14px;
        line-height: 1.8;
        color: #777;
    }
    > dt > a,
    > dt > a:after {
        -webkit-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
        -moz-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
        -o-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
        -ms-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
        transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    }
    @at-root dl#{&}.time-line {
        position: relative;
    }
    @at-root dl#{&}.time-line:before {
        border-left: 1px dashed #cecece;
        bottom: 10px;
        content: "";
        left: 15px;
        position: absolute;
        top: 25px;
        z-index: 0;
    }
    &.time-line > dd {
        margin-bottom: 10px;
        padding: 10px 20px 20px 40px;
        font-size: 14px;
        line-height: 1.8;
        color: #777;
    }
    &.time-line > dt > a:after {
        content: "\e648";
        width: 30px;
        height: 30px;
        line-height: 30px;
        margin-top: -15px;
        position: absolute;
        top: 50%;
        left: 0;
        font-family: 'icomoon';
        speak: none;
        font-style: normal;
        font-weight: bold;
        font-variant: normal;
        text-transform: none;
        font-size: 20px;
        text-align: center;
        color: #fff;
        -webkit-font-smoothing: antialiased;
        background: #222;
        padding-left: 3px;
    }
    &.time-line > dt > a.active:after,
    &.time-line > dt > a.active:hover:after {
        content: "\e641";
        color: #fff;
    }
    &.time-line > dt > a {
        display: block;
        position: relative;
        color: #222222;
        text-decoration: none;
        padding: 14px 20px 14px 40px;
        border: none;
        letter-spacing: 3px;
    }
    &.time-line > dt > a:hover,
    &.time-line > dt > a.active {
        background: none !important;
    }
}

.toggle > dt > a,
.toggle > dt > a:after {
    -webkit-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -moz-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -o-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -ms-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
}
