/******************************************************************
Theme Name: Personal
Description:
Author: Colorlib
Author URI:
Version: 1.0
Created:
******************************************************************/
/*------------------------------------------------------------------


-------------------------------------------------------------------*/
/*------------------------------------------------------------------
[Table of contents]

1.  Basic Styles
	1.1	Variables
	1.2	Mixins
	1.3	Flexbox
	1.4	Reset
2.  Elements
3.  Menu Style
4.  Home Page Style
5.  About Page Style
6.  Department Page Style
7.  Blog Page Style
8.  Contact Page Style
9.  Footer Style

-------------------------------------------------------------------*/

/* =================================== */
/*  Font Family and Colors Styles
/* =================================== */

$primary-font	: 'Poppins', sans-serif;


$primary-color: #006633;
$secondary-color: #685731;
$title-color: #222222;
$text-color: #777777;

$white: #fff;
$offwhite: #f9f9ff;
$black: #222;


/*

$primary-font	: 'Poppins', sans-serif;
---------------------------------------------

$primary-color	: #8490ff;
$title-color	: #222222;
$text-color		: #777777;

$white			: #fff;
$offwhite		: #f9f9ff;
$black			: #222;

*/

