<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:ce="http://typo3.org/ns/TYPO3/CMS/FluidStyledContent/ViewHelpers" data-namespace-typo3-fluid="true">
<f:if condition="{gallery.rows}">
	<div class="row ce-gallery ce-image-gallery{f:if(condition: data.imageborder, then: ' ce-border')}" data-ce-columns="{gallery.count.columns}" data-ce-images="{gallery.count.files}">
		<f:if condition="{gallery.position.horizontal} == 'center'">
			<div class="ce-outer">
				<div class="ce-inner">
		</f:if>
		<f:for each="{gallery.rows}" as="row" iteration="rowIterator">
            <f:variable name="moduloValue" value="{rowIterator.cycle % 5}" />
            <f:if condition="{moduloValue} == 4">
                <f:then>
                    <div class="col-md-6">
                </f:then>
                <f:else>
                    <f:if condition="{moduloValue} == 0">
                        <f:then>
                            <div class="col-md-6">
                        </f:then>
                        <f:else>
                            <div class="col-md-4">
                        </f:else>
                    </f:if>
                </f:else>
            </f:if>
            <f:for each="{row.columns}" as="column">
                <f:if condition="{column.media}">
                    <f:if condition="{column.media.link}">
                        <f:then>
                            <f:link.typolink parameter="{column.media.link}" title="{column.media.title}">
                                <f:render partial="Media/Rendering/GalleryImage" arguments="{file: column.media, dimensions: column.dimensions, settings: settings}" />
                            </f:link.typolink>
                        </f:then>
                        <f:else>
                            <f:if condition="{data.image_zoom}">
                                <f:then>
                                    <a href="{f:uri.image(image:column.media,maxHeight:1080)}">
                                        <f:render partial="Media/Rendering/GalleryImage" arguments="{file: column.media, dimensions: column.dimensions, settings: settings}" />
                                    </a>
                                </f:then>
                                <f:else>
                                    <f:render partial="Media/Rendering/GalleryImage" arguments="{file: column.media, dimensions: column.dimensions, settings: settings}" />
                                </f:else>
                            </f:if>
                        </f:else>
                    </f:if>
                    <f:if condition="{column.media.description}">
                        <figcaption class="image-caption">
                            {column.media.description}
                        </figcaption>
                    </f:if>
                </f:if>
            </f:for>
            </div>
		</f:for>
		<f:if condition="{gallery.position.horizontal} == 'center'">
				</div>
			</div>
		</f:if>
	</div>
</f:if>
</html>
